body {
  // background-color: pink;
}
.main-home {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .mode-switch{
    position: absolute;
    top: 0;
    right: 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    // background-color:#000000;
    .switch-btn {

    }

    span{
      color:#075e54;
      font-weight: 800;
    }

  }



  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0ec;
    padding: 2rem;
    border: 1px solid rgba($color: #000000, $alpha: 0.2);
    border-radius: 25px;

    .text {
      color: #075e54;
      font-size: 2rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .phone-number {
    width: 80%;
  }
}
@media only screen and (min-width: 600px) {
  .phone-number {
    width: 70%;
  }
}
@media only screen and (min-width: 768px) {
  .phone-number {
    width: 60%;
  }
}
@media only screen and (min-width: 992px) {
  .phone-number {
    width: 50%;
  }
}
@media only screen and (min-width: 1200px) {
  .phone-number {
    width: 40%;
  }
}
